{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-container">
            <div class="actions">
                <a href="{{ path('createItem') }}">
                    <button style="border-top-left-radius: 30px; border-bottom-left-radius: 30px">Yoctii-bloguer</button>
                </a>
                <a href="">
                    <button style="border-top-right-radius: 30px; border-bottom-right-radius: 30px; margin-left: 7px;">Modifier les informations</button>
                </a>
            </div>
            {% for item in items %}
            <div class="blog-item">
                
                    <div class="presentation">
                        <h2 style="color: brown;">{{item.name}}</h2>
                        <p style="margin: 29px 0px 0px 10px; color: rgba(80, 40, 40, 0.61);">{{item.createdAt|date('D d M Y, H:i')}}</p>
                        <a style="margin: 12px 0px 0px 62%; color: red; text-decoration: none; position:absolute;" href="{{path('deleteItem', {id: item.id})}}">❌</a>
                    </div>
                    <div class="description">
                        <p style="font-size: 18px;">{{item.description}}</p>
                    </div>
            </div>
            {% endfor %}
        </div>
        
            
        <div class="info-container">
            <div class="user-info">
                <h2>Jean-Fabien Yoctan Yede</h2>
                <p><strong>AGE:</strong> 19 ans</p> 
                <p style="display: flex;"><strong style="margin: 0px 5px 0px 0px;" >ADRESSE: </strong> Bingerville, Abidjan, Côte d'Ivoire</p> 
                <p style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque doloremque dolore asperiores voluptas exercitationem porro, alias voluptatibus nemo. Eius est neque illo corrupti deserunt voluptate ducimus totam temporibus. Error, illum!</p>
            </div>
                
        </div>
    </div>
    
{% endblock %}
